@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

@import "tailwindcss";

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

.dashed-separator {
  border-bottom: 1px dashed #000000;
  width: 100%;
  margin: 20px 0;
}

.dark body,
.dark html {
  font-family: "Roboto", sans-serif;
  background-color: #000000;
  scroll-behavior: smooth;
}
