@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

@import "tailwindcss";

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

.dashed-separator {
  border-bottom: 1px dashed #000000;
  width: 100%;
  margin: 20px 0;
}

.dark body,
.dark html {
  font-family: "Roboto", sans-serif;
  background-color: #000000;
  scroll-behavior: smooth;
}

@layer utilities {
  .dark ::-webkit-scrollbar {
    width: 8px;
    background-color: #000000;
  }

  ::-webkit-scrollbar {
    width: 8px;
    background-color: #ededed;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 9999px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 9999px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .dark ::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
  }
}
