@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #eaeaea;
  scroll-behavior: smooth;
}

.dashed-separator {
  border-bottom: 1px dashed #000000;
  width: 100%;
  margin: 20px 0;
}
